$tablet_view: 576px;

a {
  color: #673ae5;
}

button:disabled {
  opacity: 0.5;
}

.form-title {
  color: #673ae5;
}

.btn {
  display: inline-block;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 16px;
  border-radius: 2px;
}

.btn-primary {
  background-color: #673ae5;
  border: 1px solid #673ae5;
  color: #ffffff;
  font-weight: 700;
}

.btn-login {
  border-radius: 20px;
}

.card {
  border-radius: 10px;
  padding: 4rem 4rem;
  margin: auto;
  @media (min-width: 992px) {
    max-width: 720px;
  }
}

.border-bottom {
  border-bottom: 1px solid #ced4da;
}

.card-sign-up {
  @media (min-width: 500px) {
    max-width: 300px;
  }
}

.text-account{
  font-weight: 600;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.text-end {
  text-align: end;
}

.ml-4 {
  margin-left: 4px;
  @media (max-width: $tablet_view) {
    margin-left: 0;
  }
}

.mr-7 {
  margin-right: 7px;
  @media (max-width: $tablet_view) {
    margin-left: 0;
  }
}

.ml-20 {
  margin-left: 50px;
  @media (max-width: $tablet_view) {
    margin-left: 0;
  }
}

.ml-24 {
  margin-left: 24px;
  @media (max-width: $tablet_view) {
    margin-left: 0;
  }
}

.float-rigth {
  float: right;
  @media (max-width: $tablet_view) {
    float: none;
  }
}
